*{
    font-family: "Overpass Mono", monospace !important;
}

.info{
    font-size: small;
    font-style: italic;
    color: green;
    text-transform: lowercase;
}
input[type=checkbox]:checked + label{
    text-decoration: line-through;
}

.divLine{
    background: green;
    height: 4px;
}

.alert-secondary{
    position: fixed !important;
    bottom: 0 !important;
    width: 85%;
}